<section class="mt-80px">
	<div class="container">
		<div class="row ">
			<div class="col-lg-4 col-md-6">
				<div class="card p-5 border-0 rounded-top border-bottom position-relative hover-style-1">
					<span class="number">01</span>
					<h3 class="mt-3">Du Matos de Pro, Pour Tous les Athlètes</h3>
					<p class="mt-3 mb-4">Panatta, Hoist et plus encore — du haut de gamme accessible pour t'entraîner dans les meilleures conditions.</p>
					<a href="salle.html" class="text-color text-uppercase font-size-13 letter-spacing font-weight-bold"><i class="ti-minus mr-2 "></i>Voir plus</a>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="card p-5 border-0 rounded-top hover-style-1">
					<span class="number">02</span>
					<h3 class="mt-3">Un Choix Infini pour Chaque Muscle</h3>
					<p class="mt-3 mb-4">Des machines variées pour cibler tous tes muscles sous différents angles et maximiser tes résultats.</p>
					<a href="salle.html" class="text-color text-uppercase font-size-13 letter-spacing font-weight-bold"><i class="ti-minus mr-2 "></i>Voir plus</a>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="card p-5 border-0 rounded-top hover-style-1">
					<span class="number">03</span>
					<h3 class="mt-3">Des Cours Divers, Des Coachs Inspirants</h3>
					<p class="mt-3 mb-4">Danse, Combat, Circuits… Des Cours Pour Tous les Niveaux !
						Des coachs motivants pour t’aider à donner le meilleur !</p>
					<a href="course.html" class="text-color text-uppercase font-size-13 letter-spacing font-weight-bold"><i class="ti-minus mr-2 "></i>Voir plus</a>
				</div>
			</div>
		</div>
	</div>
</section>