<!-- Header Start -->
<nav class="navbar navbar-expand-lg navigation fixed-top" id="navbar">
	<div class="container-fluid">
		<a class="navbar-brand" href="index.html">
			<img src="images/logo/TitreLogoV1.png" alt="Jungle Gym Logo" style="width: 300px; height: auto;">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsid"
			aria-controls="navbarsid" aria-expanded="false" aria-label="Toggle navigation">
			<span class="ti-view-list"></span>
		</button>
		<div class="collapse text-center navbar-collapse" id="navbarsid">
			<ul class="navbar-nav mx-auto">
				<li class="nav-item active">
					<a class="nav-link" href="index.html">Accueil <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="salle.html" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false">La Salle</a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="about.html">Zone Muscu</a></li>
						<li><a class="dropdown-item" href="about.html">Zone Force</a></li>
						<li><a class="dropdown-item" href="about.html">Abdos / Lombaires / Gainage</a></li>
						<li><a class="dropdown-item" href="about.html">Zone Cardio</a></li>
						<li><a class="dropdown-item" href="about.html">Zone Cross-Training</a></li>
						<li><a class="dropdown-item" href="about.html">Zone Haltérophilie</a></li>
					</ul>
				</li>
				<li class="nav-item"><a class="nav-link" href="planning.html">Planning</a></li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="course.html" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false">Activités et services</a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="course-single.html">MMA & sport de combats</a></li>
						<li><a class="dropdown-item" href="course-single.html">Street dance & chorégraphies</a></li>
						<li><a class="dropdown-item" href="course-single.html">Cours collectifs</a></li>
						<li><a class="dropdown-item" href="course-single.html">Massage et récupération</a></li>
					</ul>
				</li>
				
				<li class="nav-item"><a class="nav-link" href="pricing.html">Abonnements</a></li>
				<li class="nav-item"><a class="nav-link" href="blog-sidebar.html">Blog</a></li>
				<li class="nav-item"><a class="nav-link" href="contact.html">Nous rejoindre</a></li>
			</ul>
			<div class="my-md-0 ml-lg-4 mt-4 mt-lg-0 ml-auto text-lg-right mb-3 mb-lg-0">
				<a href="tel:+23-345-67890">
					<h3 class="text-color mb-0"><i class="ti-mobile mr-2"></i>02 37 27 56 24</h3>
				</a>
			</div>
		</div>
	</div>
</nav>


<!-- Header Close -->

<div class="main-wrapper ">