<section class="section services ">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8 text-center">
				<div class="section-title">
					<div class="divider mb-3"></div>
					<h2>🔥 NOS ACTIVITÉS PHARES</h2>
					<p>Plus de 50 postes de travail tous les muscles, charges libres et guidées</p>
				</div>
			</div>
		</div>

		<div class="row no-gutters">
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="text-center  px-4 py-5 hover-style-1">
					<i class="icofont-gym-alt-2 text-lg text-color"></i>
					<h4 class="mt-3 mb-4 text-uppercase">FORCE & Haltérophilie</h4>
					<p>Développez votre puissance et votre technique avec des entraînements encadrés, adaptés à tous les niveaux.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="text-center  px-4 py-5 hover-style-1">
					<i class="icofont-hand-power text-lg text-color"></i>
					<h4 class="mt-3 mb-4 text-uppercase">MMA</h4>
					<p>Améliorez votre condition physique, votre coordination et vos réflexes dans un cadre sécurisé et motivant.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="text-center  px-4 py-5 hover-style-1">
					<i class="icofont-cheer-leader text-lg text-color"></i>
					<h4 class="mt-3 mb-4 text-uppercase">Street Dance</h4>
					<p>Exprimez-vous en rythme avec nos cours dynamiques de danse urbaine, fun et accessibles à tous.</p>
				</div>
			</div>
			</div>
			<div class="row justify-content-center no-gutters">
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="text-center  px-4 py-5 hover-style-1">
					<i class="icofont-muscle text-lg text-color"></i>
					<h4 class="mt-3 mb-4 text-uppercase">BodyBuilding</h4>
					<p>Sculptez votre corps et gagnez en masse musculaire avec des programmes ciblés et efficaces.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="text-center  px-4 py-5 hover-style-1">
					<i class="icofont-gym text-lg text-color"></i>
					<h4 class="mt-3 mb-4 text-uppercase">Cardio & Cross-Training</h4>
					<p>Brûlez un maximum de calories et boostez votre endurance avec des circuits intenses et variés.</p>
				</div>
			</div>
		</div>
	</div>
</section>